.footer{
  max-width: 100%;
  border-block: 2px solid whitesmoke;
  font-size: 20px;
  padding-block: 0.5rem;
  height: 5%;
}

.footer>h3{
  max-width: 100%;
  margin-left: 40%;
}

.footer>h3>a{
  color: rgba(255, 255, 255, 0.87);
  text-decoration-line: none;
}

.footer>h3>a:hover{
  text-decoration-line: underline;
}

.footer>h3>a:visited{
  color: rgba(255, 255, 255, 0.87);
  text-decoration-line: none;
}
