.twitchDiv {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  width: 45%;
  border-left: 3px solid whitesmoke;
  padding-bottom: 10px;
}

.twitchDivTitle{
  border-bottom: 2px double white;
  width: 65%;
}

.twitchData {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.topPanel {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomPanel {
  display:flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 10px;
}

.leftPanel {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.rightPanel {
  display:flex;
  flex-direction: column;
  justify-content: start;
  text-align: end;
}

.topLevelText{
  font-size: 1.8rem;
  height: min-content;
  margin-block: 0.25rem;
}

.topLevelText>a{
  color: rgba(255, 255, 255, 0.87);
  text-decoration-line: none;
}

.topLevelText>a:hover{
  text-decoration-line: underline;
}

.midLevelText{
  font-size: 1.2rem;
  font-weight: 600;
  height: min-content;
  margin-block: 0rem;
}

.lowLevelText{
  font-size: 1rem;
  height: min-content;
  margin-block: 0rem;
}

.tagsDiv {
  font-size: 1.2rem;
  height: min-content;
  margin-block: 0rem;
}

.tag {
  font-size: 0.8rem;
  background-color: rgba(83, 83, 95, 0.48);
  border: none;
  color: white;
  padding: 6px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  margin-inline: 5px;
  border-radius: 24px;
}
