.main{
  display: flex;
  flex-direction: row;
  justify-content:left;
  padding-left: 0.5rem;
  max-width: 99vw;
}

.page{
  display: flex;
  flex-direction: column;
}

.statusDiv {
  width: 35%;
}

.pageTitle{
  font-size: 2rem;
  padding-block: 0.25rem;
}

.pageTitleReplyYes{
  font-size: 1.8rem;
  padding-block: 0.25rem;
  font-weight: 700;
}

.pageTitleReplyNo{
  font-size: 1.8rem;
  padding-block: 0.25rem;
  font-weight: 300;
}

.socialsText{
  font-size: 1.2;
  padding-block: 0.25rem;
}

.error{
  font-size: 1rem;
  color: red;
  padding-block: 0.25rem;
}

.statusTextDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}

a:visited{
  color: rgb(215 164 255);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
